body {
    margin: 0;
    background-color: white;
    color: #242424;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,"Apple Color remoji", "Segoe UI remoji";
}

#recipe-title {
    font-size: 2.5rem;
    font-weight: bold;
    max-width: 700px;
    margin: 20px 24px 10px;
}

#recipe-image {
    max-width: 450px;
    width: 100vw;
}

.main-sep {
    margin: 20px;
    height: 1px;
    width: 300px;
    border: none;
    border-top: 2px solid lightgray;
}

@media (max-width: 530px) {
    #recipe-title {
        font-size: 2rem;
    }

    #recipe-image {
        max-width: 100vw;
    }

    .main-sep {
        width: calc(100vw - 40px);
    }
}

.recipe-hint {
    font-size: 1.2rem;
    font-style: italic;
}

.recipe-hint-icon {
    font-size: 1.5rem;
    margin: 0px 5px 0px 0px;
}

.recipe-hint-sep {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 10px;
}

.recipe-tag {
    font-size: 1.1rem;
    border-radius: 1000px;
    border: 2px solid;
    padding: 3px 10px 5px;
    font-weight: 500;
    color: black;
}

#tab-container {
    max-width: 550px;
    width: 100vw;
    border: 2px solid lightgray;
    border-radius: 6px;
}

#tab-strip > a {
    cursor: pointer;
    width: calc(100% / 3);
    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.2rem;
    text-decoration: none;
    color: rgb(69, 69, 69);
    background-color: rgb(245, 245, 245);
    border: solid lightgray;
    border-width: 0px 0px 2px 2px;
}

#tab-strip > a:hover {
    background-color: rgb(224, 229, 237);
    text-decoration: underline;
}

#tab-strip > a.tab-selected {
    border-bottom: 0;
    color: rgb(0, 82, 183);
    background-color: white;
    text-decoration: none;
}

#tab-strip a:first-child {
    padding-left: 2px;
    border-left: 0;
    border-top-left-radius: 6px;
}

#tab-strip a:last-child {
    border-top-right-radius: 6px;
}

#tab-content {
    padding: 15px 15px;
}

@media (max-width: 640px) {
    .recipe-tag {
        font-size: 1rem;
    }    

    #tab-container {
        max-width: calc(100vw - 30px);
    }

    #tab-strip > a {
        font-size: 1.05rem;
        line-height: 2rem;
    }
}

hr.dot-sep {
    flex-grow: 1;
    margin: 0 0 .2rem 0;
    border: dotted dimgray;
    border-width: 0 0 1px 0;
}

#nutrient-list > li {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.1rem;
    margin-bottom: 3px;
}

#nutrient-list > li:last-child {
    margin-bottom: 0;
}

#nutrient-list > li > span:first-child {
    font-weight: 500;
}

#nutrient-list > li:first-child > span {
    font-size: 1.5rem;
    font-weight: bold
}

#ingredient-list > li {
    margin-bottom: 15px;
    font-size: 1.05rem;
}

#ingredient-list > li:last-child {
    margin-bottom: 0;
}

.ingredient-check:checked + .ingredient-label {
    text-decoration: line-through;
    opacity: 0.5;
}

#instruction-list > li {
    margin-bottom: 20px;
    font-size: 1.05rem;
    line-height: 1.4;
}

#instruction-list > li:last-child {
    margin-bottom: 0;
}