[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
python-dotenv = "*"
requests = "*"
pylint = "*"
chardet = "*"
flask-login = "*"

[dev-packages]
pylint = "*"
black = "*"
flask = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
